{% extends 'base1.html' %}
{% load static %}
{% block meta %}

{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2>
               Congratulations the payment has been completed successfully !!!
            </h2>
            <p>
                The page will be redirected to the home page soon.
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
    <script>

    </script>
{% endblock %}